<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" href={{@blog.url}}>{{#if @blog.logo}}<img src="{{@blog.logo}}" class="navbar-logo" alt="logo" />{{/if}} {{@blog.title}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{navigation}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--
                <li><a href="#"><span class="octicon octicon-mention"></span> Follow me</a></li>
                <li><a href="#"><span class="octicon octicon-mark-github"></span> Fork me</a></li>
                -->
                <li><a href="{{@blog.url}}/rss/"><span class="octicon octicon-rss"></span> RSS</a></li>
		<li><a href="{{@blog.url}}/ghost/"><span class="octicon octicon-pencil"></span></a></li>
            </ul>
        </div>
    </div>
</div>
