{{#is "home"}}
<div class="container-fluid container-abitabove">
    <div class="row">
        <div class="col-lg-12 centered text-center container-withcover {{^if @blog.cover}}no-cover{{/if}}" style="{{#if @blog.cover}}background-image: url({{@blog.cover}});{{/if}}">
            {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}} Logo" class="blog-logo">
            <br>
            {{/if}}
            <h1>{{@blog.title}}</h1>
            <br>
            <h2>{{@blog.description}}</h2>
        </div>
    </div>
</div>
{{/is}}

{{#is "author"}}
<div class="container-fluid container-abitabove">
    <div class="row">
      {{#author}}
      <div class="col-lg-12 centered text-center container-withcover {{^if cover}}no-cover{{/if}}" style="{{#if cover}}background-image: url({{cover}});{{/if}}">
        {{#if image}}<img src="{{image}}" alt="{{name}}'s Logo" class="blog-logo">
        <br>
        {{/if}}
        <h1>{{name}}</h1>
        <br>
        <h2>{{bio}}</h2>
      </div>
      {{/author}}
    </div>
</div>
{{/is}}

{{#is "tag"}}
<div class="container-fluid container-abitabove">
    <div class="row">
        <div class="col-lg-12 centered text-center container-withcover {{^if tag.image}}no-cover{{/if}}" style="{{#if tag.image}}background-image: url({{tag.image}});{{/if}}">
            <h1>{{tag.name}}</h1>
            <h3>
                {{#if tag.description}}
                    {{tag.description}}
                {{else}}
                    A {{pagination.total}}-post collection
                {{/if}}
            </h3>
        </div>
    </div>
</div>
{{/is}}

{{#is "post,page"}}
<div class="container-fluid container-abitabove">
    <div class="row">
        <div class="col-lg-12 centered text-center container-withcover {{^if post.image}}no-cover{{/if}}" style="{{#if post.image}}background-image: url({{post.image}});{{/if}}">
            <h1>{{post.title}}</h1>
            {{#is "post"}}
            <h3>
                {{#post}}
                <time datetime="{{date format='YYYY-MM-DD'}}"><span class="mega-octicon octicon-calendar"></span> {{date format="YYYY-MM-DD"}} at {{date format="HH:mm"}}</time>
                {{/post}}
            </h3>
            {{/is}}
            {{#foreach post.tags}}
            <a href="{{url}}"><span class="label {{#if @odd}}label-primary{{else}}label-default{{/if}}"><i class="glyphicon glyphicon-tag"></i> {{name}}</span></a>
            &nbsp;
            {{/foreach}}
        </div>
    </div>
</div>
{{/is}}
