{{!-- Twitter --}}
<a class="icon-twitter icon-share" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <span class="hidden">Twitter</span>

    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="34px" height="34px" viewBox="289 289 34 34" enable-background="new 289 289 34 34" xml:space="preserve">
    <g>
      <g>
        <path d="M312.861,302.819c0-0.162-0.003-0.321-0.011-0.48c0.691-0.515,1.291-1.159,1.765-1.896
          c-0.634,0.285-1.314,0.476-2.03,0.556c0.729-0.45,1.29-1.168,1.555-2.031c-0.684,0.415-1.44,0.711-2.244,0.865
          c-0.645-0.733-1.563-1.2-2.581-1.217c-1.951-0.032-3.534,1.618-3.534,3.685c0,0.293,0.031,0.579,0.092,0.854
          c-2.94-0.189-5.545-1.719-7.288-4.026c-0.304,0.553-0.479,1.198-0.479,1.891c0,1.309,0.624,2.473,1.573,3.159
          c-0.581-0.026-1.125-0.202-1.602-0.49c0,0.016,0,0.032,0,0.048c0,1.83,1.219,3.363,2.836,3.721
          c-0.297,0.084-0.61,0.128-0.931,0.127c-0.229-0.002-0.449-0.026-0.665-0.073c0.449,1.5,1.755,2.595,3.302,2.631
          c-1.21,1.004-2.735,1.604-4.39,1.599c-0.285,0-0.567-0.019-0.844-0.054c1.565,1.074,3.422,1.699,5.419,1.699
          C309.307,313.386,312.861,307.728,312.861,302.819z"/>
        <path d="M322,306c0-8.836-7.164-16-16-16c-8.836,0-16,7.164-16,16c0,8.836,7.164,16,16,16C314.836,322,322,314.836,322,306z
           M291.455,306c0-8.034,6.512-14.545,14.545-14.545c8.033,0,14.546,6.512,14.546,14.545c0,8.033-6.513,14.546-14.546,14.546
          C297.966,320.546,291.455,314.033,291.455,306z"/>
      </g>
    </g>
    </svg>
</a>

{{!-- Facebook --}}
<a class="icon-facebook icon-share" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
    <span class="hidden">Facebook</span>
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="34px" height="34px" viewBox="289 289 34 34" enable-background="new 289 289 34 34" xml:space="preserve">
    <g>
      <g>
        <path d="M322,306c0-8.836-7.164-16-16-16c-8.836,0-16,7.164-16,16c0,8.836,7.164,16,16,16C314.836,322,322,314.836,322,306z
           M291.455,306c0-8.034,6.512-14.545,14.545-14.545c8.033,0,14.546,6.512,14.546,14.545c0,8.033-6.513,14.546-14.546,14.546
          C297.966,320.546,291.455,314.033,291.455,306z"/>
        <path d="M306.614,315.235V306h3.047l0.481-3.061h-3.528v-1.534c0-0.799,0.262-1.561,1.407-1.561h2.291v-3.054h-3.252
          c-2.735,0-3.481,1.8-3.481,4.296v1.852h-1.876V306h1.876v9.235H306.614L306.614,315.235z"/>
      </g>
    </g>
    </svg>
</a>

{{!-- Google --}}
<a class="icon-google-plus icon-share" href="https://plus.google.com/share?url={{url absolute="true"}}"
   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
    <span class="hidden">Google+</span>

    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="34px" height="34px" viewBox="289 289 34 34" enable-background="new 289 289 34 34" xml:space="preserve">
    <g>
      <g>
        <path d="M308.256,311.033c0-1.57-0.909-2.344-1.91-3.186l-0.819-0.638c-0.25-0.203-0.591-0.477-0.591-0.977
          s0.342-0.819,0.637-1.114c0.955-0.75,1.91-1.546,1.91-3.229c0-1.729-1.092-2.639-1.614-3.071l0,0h1.409l1.455-0.819h-4.686
          c-1.228,0-2.773,0.182-4.071,1.251c-0.977,0.841-1.455,2.001-1.455,3.047c0,1.773,1.365,3.571,3.775,3.571
          c0.228,0,0.477-0.023,0.729-0.045c-0.113,0.273-0.227,0.5-0.227,0.887c0,0.704,0.364,1.138,0.682,1.547
          c-1.022,0.068-2.934,0.182-4.343,1.046c-1.343,0.795-1.751,1.956-1.751,2.774c0,1.684,1.593,3.253,4.89,3.253
          C306.186,315.331,308.256,313.17,308.256,311.033z M303.366,305.233c-1.956,0-2.844-2.525-2.844-4.048
          c0-0.592,0.114-1.205,0.5-1.683c0.364-0.455,1.001-0.752,1.593-0.752c1.888,0,2.865,2.548,2.865,4.185
          c0,0.411-0.045,1.138-0.568,1.661C304.548,304.96,303.935,305.232,303.366,305.233z M303.389,314.375
          c-2.434,0-4.003-1.159-4.003-2.773s1.456-2.16,1.957-2.342c0.956-0.318,2.183-0.365,2.388-0.365c0.227,0,0.34,0,0.522,0.023
          c1.729,1.228,2.479,1.842,2.479,3.002C306.731,313.329,305.572,314.375,303.389,314.375z"/>
        <polygon points="308.461,306.615 310.924,306.615 310.924,309.076 312.154,309.076 312.154,306.615 314.615,306.615 
          314.615,305.385 312.154,305.385 312.154,302.924 310.924,302.924 310.924,305.385 308.461,305.385     "/>
        <path d="M322,306c0-8.836-7.164-16-16-16c-8.836,0-16,7.164-16,16c0,8.836,7.164,16,16,16C314.836,322,322,314.836,322,306z
           M291.455,306c0-8.034,6.512-14.545,14.545-14.545c8.033,0,14.546,6.512,14.546,14.545c0,8.033-6.513,14.546-14.546,14.546
          C297.966,320.546,291.455,314.033,291.455,306z"/>
      </g>
    </g>
    </svg>
</a>


{{!-- Tumblr --}}

<a class="icon-tumblr icon-share" href="http://www.tumblr.com/share/link?url={{url absolute="true"}}&amp;name={{encode title}}"
   onclick="window.open(this.href, 'tumblr-share', 'width=490,height=530');return false;">
    <span class="hidden">Tumblr</span>

    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="34px" height="34px" viewBox="308 308 34 34" enable-background="new 308 308 34 34" xml:space="preserve">
    <g>
      <path d="M325.98,319.787v-4.009h-2.587c-0.059,0.149-0.089,0.324-0.089,0.504c-0.028,0.087-0.058,0.15-0.058,0.239
        c-0.268,1.483-1.039,2.523-2.349,3.089c-0.386,0.177-0.741,0.205-1.127,0.177v3.235h1.901c0.03,4.546,0.03,6.892,0.03,7.01
        c0,0.09,0,0.179,0,0.271c0.238,1.986,1.276,3.176,3.119,3.621c0.741,0.208,1.543,0.297,2.345,0.297
        c1.039-0.029,2.051-0.207,3.062-0.535v-3.8c-0.594,0.176-1.132,0.325-1.604,0.472c-0.923,0.27-1.693,0.092-2.32-0.502
        c-0.058-0.09-0.147-0.209-0.178-0.327c-0.087-0.476-0.145-0.979-0.145-1.457v-5.049h4.125v-3.235H325.98z"/>
    </g>
    <g>
      <g>
        <path d="M341,325c0-8.836-7.164-16-16-16s-16,7.164-16,16c0,8.836,7.164,16,16,16S341,333.836,341,325z M310.455,325
          c0-8.034,6.512-14.545,14.545-14.545s14.546,6.512,14.546,14.545c0,8.033-6.513,14.546-14.546,14.546S310.455,333.033,310.455,325
          z"/>
      </g>
    </g>
    </svg>


</a>
